@use '../../../../styles/_variables' as *;

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .container {
    .catalog-title {
      font-family: 'Lora', sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: $green-text-color;
      margin-top: 33px;
      margin-left: 317px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 317px;
      margin-top: 33px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .catalog-applied-filter {
          display: flex;
          align-items: center;
          border-radius: 50px;
          border: 1px solid #E7F1E8;
          font-size: 16px;
          color: $gray-text-color;
          padding: 8px 14px;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .catalog-sorting {
        width: 257px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        cursor: pointer;

        .catalog-sorting-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: end;
          color: $gray-text-color;

          span {
            margin-right: 8px;
          }
        }

        .catalog-sorting-body {
          position: absolute;
          width: 100%;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          background: #F5F5F5;
          border-radius: 0 0 5px 5px;
          color: #BEBEBE;
          box-sizing: border-box;

          .catalog-sorting-item {
            margin-bottom: 14px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: #313131;
            }
          }
        }

        &.open {
          .catalog-sorting-head {
            color: #000000;
            border-radius: 5px 5px 0 0;
            background: #BEBEBE;
            padding-right: 23px;
            justify-content: space-between;
          }

          .catalog-sorting-body {
            display: block;
          }
        }
      }
    }

    .catalog-layout {
      display: flex;
      margin-top: 10px;

      .catalog-filters {
        width: 257px;
        min-width: 257px;
        margin-right: 58px;
      }

      .catalog-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px 30px;

        &.noProducts {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          .notFound {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 30px;
            color: $green-text-color;

          }
        }


      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 79px;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .pagination-pages {
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      align-items: center;

      a.pagination-page {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        cursor: pointer;
        font-size: 20px;
        color: $gray-text-color;

        &.active {
          border-radius: 50%;
          background: #B6d5b9;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}



