.count-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 5px;
  }
}
