<div class="order">
  <div class="container">
    <div class="order-title">Оформление вашего заказа</div>
    <div class="order-info">
      <div class="data-form" [formGroup]="formOrder">
        <div class="data-form-block">
          <div class="data-form-label">Выберите способ доставки</div>
          <div class="data-form-types">
            <div class="data-form-type" [class.active]="deliveryType === deliveryTypes.delivery" (click)="changeDeliveryType(deliveryTypes.delivery)">Курьером</div>
            <div class="data-form-type" [class.active]="deliveryType === deliveryTypes.self" (click)="changeDeliveryType(deliveryTypes.self)">Самовывоз</div>
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Заполните личные данные</div>
          <div class="data-form-inputs personal-data-inputs">
            <input formControlName="lastName"
                   [ngStyle]="{'border-color': formOrder.get('lastName')?.invalid && (formOrder.get('lastName')?.touched ||
                   formOrder.get('lastName')?.dirty) ? 'red' : ''}"
                   type="text" class="input" placeholder="Фамилия">
            <input formControlName="firstName"
                   [ngStyle]="{'border-color': formOrder.get('firstName')?.invalid && (formOrder.get('firstName')?.touched ||
                   formOrder.get('firstName')?.dirty) ? 'red' : ''}"
                   type="text" class="input" placeholder="Имя">
            <input formControlName="fatherName"
                   [ngStyle]="{'border-color': formOrder.get('fatherName')?.invalid && (formOrder.get('fatherName')?.touched ||
                   formOrder.get('fatherName')?.dirty) ? 'red' : ''}"
                   type="text" class="input" placeholder="Отчество">
            <input formControlName="phone"
                   [ngStyle]="{'border-color': formOrder.get('phone')?.invalid && (formOrder.get('phone')?.touched ||
                   formOrder.get('phone')?.dirty) ? 'red' : ''}"
                   type="text" class="input" placeholder="Телефон">
            <input formControlName="email"
                   [ngStyle]="{'border-color': formOrder.get('email')?.invalid && (formOrder.get('email')?.touched ||
                   formOrder.get('email')?.dirty) ? 'red' : ''}"
                   type="text" class="input" placeholder="Е-mail">
          </div>
        </div>
        <div class="data-form-block" *ngIf="deliveryType === deliveryTypes.delivery">
          <div class="data-form-label">Заполните адрес доставки</div>
          <div class="data-form-inputs address-inputs">
            <input formControlName="street"
                   [ngStyle]="{'border-color': formOrder.get('street')?.invalid && (formOrder.get('street')?.touched ||
                   formOrder.get('street')?.dirty) ? 'red' : ''}"
                   type="text" class="input street" placeholder="Улица">
            <input formControlName="house"
                   [ngStyle]="{'border-color': formOrder.get('house')?.invalid && (formOrder.get('house')?.touched ||
                   formOrder.get('house')?.dirty) ? 'red' : ''}"
                   type="text" class="input house" placeholder="№ дома">
            <input formControlName="entrance"
                   [ngStyle]="{'border-color': formOrder.get('entrance')?.invalid && (formOrder.get('entrance')?.touched ||
                   formOrder.get('entrance')?.dirty) ? 'red' : ''}"
                   type="text" class="input entrance" placeholder="Подъезд">
            <input formControlName="apartment"
                   [ngStyle]="{'border-color': formOrder.get('apartment')?.invalid && (formOrder.get('apartment')?.touched ||
                   formOrder.get('apartment')?.dirty) ? 'red' : ''}"
                   type="text" class="input apartment" placeholder="№ квартиры">
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Выберите способ оплаты</div>
          <div class="data-form-radio">
           <div class="data-form-radio-block">
             <input formControlName="paymentType" type="radio" id="cart" value="{{PaymentType.cardOnline}}">
             <label for="cart">Оплата банковской картой в интернет-магазине</label>
           </div>
            <div class="data-form-radio-block">
              <input formControlName="paymentType" type="radio" id="cashless" value="{{PaymentType.cardToCourier}}">
              <label for="cashless">Безналичный расчет при получении</label>
            </div>
            <div class="data-form-radio-block">
              <input formControlName="paymentType" type="radio" id="cash" value="{{PaymentType.cashToCourier}}">
              <label for="cash">Наличный расчет при получении</label>
            </div>
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Комментарий к заказу (необязательно)</div>
          <div class="data-form-inputs">
            <textarea formControlName="comment"
                      [ngStyle]="{'border-color': formOrder.get('comment')?.invalid && (formOrder.get('comment')?.touched ||
                      formOrder.get('comment')?.dirty) ? 'red' : ''}"
                      cols="30" rows="5" class="input" placeholder="Оставьте свой комментарий"></textarea>
          </div>
        </div>
      </div>
      <div class="order-details">
        <div class="order-details-info">
          <div class="order-details-info-title">Ваш заказ</div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Товаров:</div>
            <div class="order-details-info-item-data">{{totalCount}} BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Общая стоимость:</div>
            <div class="order-details-info-item-data">{{totalAmount}} BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Стоимость доставки:</div>
            <div class="order-details-info-item-data">10 BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Итоговая стоимость:</div>
            <div class="order-details-info-item-data">{{totalAmount + 10}} BYN</div>
          </div>
        </div>
        <button class="button" (click)="createOrder()">Подтвердить заказ</button>
      </div>
    </div>
  </div>
</div>

<ng-template #popup>
  <div class="order-popup">
    <div class="order-popup-close" (click)="closePopup()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.935622" y1="0.649902" x2="12.9564" y2="12.6707" stroke="#A8ABA7" stroke-linecap="round"/>
        <line x1="12.9238" y1="0.629714" x2="0.903013" y2="12.6505" stroke="#A8ABA7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="order-popup-title">Благодарим за заказ!</div>
    <div class="order-popup-content">
      <div>Ваш заказ оформлен.</div>
      <div>Вся информация о заказе была выслана вам на почту.</div>
      <div>Курьер свяжется с вами за два часа до доставки товара.</div>
    </div>
    <div class="background"></div>
  </div>
</ng-template>


